/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --efyt-accent-color: #d2b48c;
  --efyt-accent-color-alpha-10: rgba(210, 180, 140, .10);
  --efyt-accent-color-alpha-20: rgba(210, 180, 140, .20);
  --efyt-accent-color-alpha-30: rgba(210, 180, 140, .30);
  --efyt-accent-color-alpha-40: rgba(210, 180, 140, .40);
  --efyt-accent-color-alpha-50: rgba(210, 180, 140, .50);
  --efyt-accent-color-alpha-60: rgba(210, 180, 140, .60);
  --efyt-accent-color-alpha-70: rgba(210, 180, 140, .70);
  --efyt-accent-color-alpha-80: rgba(210, 180, 140, .80);
  --efyt-accent-color-alpha-90: rgba(210, 180, 140, .90);
  --efyt-accent-color-dark-10: #bda27e;
  --efyt-accent-color-dark-20: #a89070;
  --efyt-accent-color-dark-30: #937e62;
  --efyt-accent-color-dark-40: #7e6c54;
  --efyt-accent-color-dark-50: #695a46;
  --efyt-accent-color-dark-60: #544838;
  --efyt-accent-color-dark-70: #3f362a;
  --efyt-accent-color-dark-80: #2a241c;
  --efyt-accent-color-dark-90: #15120e;
  --efyt-text-primary: #fff;
  --efyt-text-primary-inverse: #000;
}