/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --efyt-accent-color: #4169e1;
  --efyt-accent-color-alpha-10: rgba(65, 105, 225, .10);
  --efyt-accent-color-alpha-20: rgba(65, 105, 225, .20);
  --efyt-accent-color-alpha-30: rgba(65, 105, 225, .30);
  --efyt-accent-color-alpha-40: rgba(65, 105, 225, .40);
  --efyt-accent-color-alpha-50: rgba(65, 105, 225, .50);
  --efyt-accent-color-alpha-60: rgba(65, 105, 225, .60);
  --efyt-accent-color-alpha-70: rgba(65, 105, 225, .70);
  --efyt-accent-color-alpha-80: rgba(65, 105, 225, .80);
  --efyt-accent-color-alpha-90: rgba(65, 105, 225, .90);
  --efyt-accent-color-dark-10: #3b5fcb;
  --efyt-accent-color-dark-20: #3454b4;
  --efyt-accent-color-dark-30: #2e4a9e;
  --efyt-accent-color-dark-40: #273f87;
  --efyt-accent-color-dark-50: #213571;
  --efyt-accent-color-dark-60: #1a2a5a;
  --efyt-accent-color-dark-70: #131f43;
  --efyt-accent-color-dark-80: #0d152d;
  --efyt-accent-color-dark-90: #060a16;
  --efyt-text-primary: #fff;
  --efyt-text-primary-inverse: #000;
}