/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --efyt-accent-color: #a0522d;
  --efyt-accent-color-alpha-10: rgba(160, 82, 45, .10);
  --efyt-accent-color-alpha-20: rgba(160, 82, 45, .20);
  --efyt-accent-color-alpha-30: rgba(160, 82, 45, .30);
  --efyt-accent-color-alpha-40: rgba(160, 82, 45, .40);
  --efyt-accent-color-alpha-50: rgba(160, 82, 45, .50);
  --efyt-accent-color-alpha-60: rgba(160, 82, 45, .60);
  --efyt-accent-color-alpha-70: rgba(160, 82, 45, .70);
  --efyt-accent-color-alpha-80: rgba(160, 82, 45, .80);
  --efyt-accent-color-alpha-90: rgba(160, 82, 45, .90);
  --efyt-accent-color-dark-10: #904a29;
  --efyt-accent-color-dark-20: #804224;
  --efyt-accent-color-dark-30: #70391f;
  --efyt-accent-color-dark-40: #60311b;
  --efyt-accent-color-dark-50: #502917;
  --efyt-accent-color-dark-60: #402112;
  --efyt-accent-color-dark-70: #30190d;
  --efyt-accent-color-dark-80: #201009;
  --efyt-accent-color-dark-90: #100804;
  --efyt-text-primary: #fff;
  --efyt-text-primary-inverse: #000;
}