/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --efyt-accent-color: #f4a460;
  --efyt-accent-color-alpha-10: rgba(244, 164, 96, .10);
  --efyt-accent-color-alpha-20: rgba(244, 164, 96, .20);
  --efyt-accent-color-alpha-30: rgba(244, 164, 96, .30);
  --efyt-accent-color-alpha-40: rgba(244, 164, 96, .40);
  --efyt-accent-color-alpha-50: rgba(244, 164, 96, .50);
  --efyt-accent-color-alpha-60: rgba(244, 164, 96, .60);
  --efyt-accent-color-alpha-70: rgba(244, 164, 96, .70);
  --efyt-accent-color-alpha-80: rgba(244, 164, 96, .80);
  --efyt-accent-color-alpha-90: rgba(244, 164, 96, .90);
  --efyt-accent-color-dark-10: #dc9456;
  --efyt-accent-color-dark-20: #c3834d;
  --efyt-accent-color-dark-30: #ab7343;
  --efyt-accent-color-dark-40: #92623a;
  --efyt-accent-color-dark-50: #7a5230;
  --efyt-accent-color-dark-60: #624226;
  --efyt-accent-color-dark-70: #49311d;
  --efyt-accent-color-dark-80: #312113;
  --efyt-accent-color-dark-90: #18100a;
  --efyt-text-primary: #fff;
  --efyt-text-primary-inverse: #000;
}