/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --efyt-accent-color: #708090;
  --efyt-accent-color-alpha-10: rgba(112, 128, 144, .10);
  --efyt-accent-color-alpha-20: rgba(112, 128, 144, .20);
  --efyt-accent-color-alpha-30: rgba(112, 128, 144, .30);
  --efyt-accent-color-alpha-40: rgba(112, 128, 144, .40);
  --efyt-accent-color-alpha-50: rgba(112, 128, 144, .50);
  --efyt-accent-color-alpha-60: rgba(112, 128, 144, .60);
  --efyt-accent-color-alpha-70: rgba(112, 128, 144, .70);
  --efyt-accent-color-alpha-80: rgba(112, 128, 144, .80);
  --efyt-accent-color-alpha-90: rgba(112, 128, 144, .90);
  --efyt-accent-color-dark-10: #657382;
  --efyt-accent-color-dark-20: #5a6673;
  --efyt-accent-color-dark-30: #4e5a65;
  --efyt-accent-color-dark-40: #434d56;
  --efyt-accent-color-dark-50: #384048;
  --efyt-accent-color-dark-60: #2d333a;
  --efyt-accent-color-dark-70: #22262b;
  --efyt-accent-color-dark-80: #161a1d;
  --efyt-accent-color-dark-90: #0b0d0e;
  --efyt-text-primary: #fff;
  --efyt-text-primary-inverse: #000;
}