/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --efyt-accent-color: #7cfc00;
  --efyt-accent-color-alpha-10: rgba(124, 252, 0, .10);
  --efyt-accent-color-alpha-20: rgba(124, 252, 0, .20);
  --efyt-accent-color-alpha-30: rgba(124, 252, 0, .30);
  --efyt-accent-color-alpha-40: rgba(124, 252, 0, .40);
  --efyt-accent-color-alpha-50: rgba(124, 252, 0, .50);
  --efyt-accent-color-alpha-60: rgba(124, 252, 0, .60);
  --efyt-accent-color-alpha-70: rgba(124, 252, 0, .70);
  --efyt-accent-color-alpha-80: rgba(124, 252, 0, .80);
  --efyt-accent-color-alpha-90: rgba(124, 252, 0, .90);
  --efyt-accent-color-dark-10: #70e300;
  --efyt-accent-color-dark-20: #63ca00;
  --efyt-accent-color-dark-30: #57b000;
  --efyt-accent-color-dark-40: #4a9700;
  --efyt-accent-color-dark-50: #3e7e00;
  --efyt-accent-color-dark-60: #326500;
  --efyt-accent-color-dark-70: #254c00;
  --efyt-accent-color-dark-80: #193200;
  --efyt-accent-color-dark-90: #0c1900;
  --efyt-text-primary: #fff;
  --efyt-text-primary-inverse: #000;
}