/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --efyt-accent-color: #008000;
  --efyt-accent-color-alpha-10: rgba(0, 128, 0, .10);
  --efyt-accent-color-alpha-20: rgba(0, 128, 0, .20);
  --efyt-accent-color-alpha-30: rgba(0, 128, 0, .30);
  --efyt-accent-color-alpha-40: rgba(0, 128, 0, .40);
  --efyt-accent-color-alpha-50: rgba(0, 128, 0, .50);
  --efyt-accent-color-alpha-60: rgba(0, 128, 0, .60);
  --efyt-accent-color-alpha-70: rgba(0, 128, 0, .70);
  --efyt-accent-color-alpha-80: rgba(0, 128, 0, .80);
  --efyt-accent-color-alpha-90: rgba(0, 128, 0, .90);
  --efyt-accent-color-dark-10: #007300;
  --efyt-accent-color-dark-20: #006600;
  --efyt-accent-color-dark-30: #005a00;
  --efyt-accent-color-dark-40: #004d00;
  --efyt-accent-color-dark-50: #004000;
  --efyt-accent-color-dark-60: #003300;
  --efyt-accent-color-dark-70: #002600;
  --efyt-accent-color-dark-80: #001a00;
  --efyt-accent-color-dark-90: #000d00;
  --efyt-text-primary: #fff;
  --efyt-text-primary-inverse: #000;
}