/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --efyt-accent-color: #a52a2a;
  --efyt-accent-color-alpha-10: rgba(165, 42, 42, .10);
  --efyt-accent-color-alpha-20: rgba(165, 42, 42, .20);
  --efyt-accent-color-alpha-30: rgba(165, 42, 42, .30);
  --efyt-accent-color-alpha-40: rgba(165, 42, 42, .40);
  --efyt-accent-color-alpha-50: rgba(165, 42, 42, .50);
  --efyt-accent-color-alpha-60: rgba(165, 42, 42, .60);
  --efyt-accent-color-alpha-70: rgba(165, 42, 42, .70);
  --efyt-accent-color-alpha-80: rgba(165, 42, 42, .80);
  --efyt-accent-color-alpha-90: rgba(165, 42, 42, .90);
  --efyt-accent-color-dark-10: #952626;
  --efyt-accent-color-dark-20: #842222;
  --efyt-accent-color-dark-30: #731d1d;
  --efyt-accent-color-dark-40: #631919;
  --efyt-accent-color-dark-50: #531515;
  --efyt-accent-color-dark-60: #421111;
  --efyt-accent-color-dark-70: #310d0d;
  --efyt-accent-color-dark-80: #210808;
  --efyt-accent-color-dark-90: #100404;
  --efyt-text-primary: #fff;
  --efyt-text-primary-inverse: #000;
}