/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --efyt-accent-color: #deb887;
  --efyt-accent-color-alpha-10: rgba(222, 184, 135, .10);
  --efyt-accent-color-alpha-20: rgba(222, 184, 135, .20);
  --efyt-accent-color-alpha-30: rgba(222, 184, 135, .30);
  --efyt-accent-color-alpha-40: rgba(222, 184, 135, .40);
  --efyt-accent-color-alpha-50: rgba(222, 184, 135, .50);
  --efyt-accent-color-alpha-60: rgba(222, 184, 135, .60);
  --efyt-accent-color-alpha-70: rgba(222, 184, 135, .70);
  --efyt-accent-color-alpha-80: rgba(222, 184, 135, .80);
  --efyt-accent-color-alpha-90: rgba(222, 184, 135, .90);
  --efyt-accent-color-dark-10: #c8a67a;
  --efyt-accent-color-dark-20: #b2936c;
  --efyt-accent-color-dark-30: #9b815f;
  --efyt-accent-color-dark-40: #856e51;
  --efyt-accent-color-dark-50: #6f5c44;
  --efyt-accent-color-dark-60: #594a36;
  --efyt-accent-color-dark-70: #433728;
  --efyt-accent-color-dark-80: #2c251b;
  --efyt-accent-color-dark-90: #16120d;
  --efyt-text-primary: #fff;
  --efyt-text-primary-inverse: #000;
}