/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --efyt-accent-color: #9400d3;
  --efyt-accent-color-alpha-10: rgba(148, 0, 211, .10);
  --efyt-accent-color-alpha-20: rgba(148, 0, 211, .20);
  --efyt-accent-color-alpha-30: rgba(148, 0, 211, .30);
  --efyt-accent-color-alpha-40: rgba(148, 0, 211, .40);
  --efyt-accent-color-alpha-50: rgba(148, 0, 211, .50);
  --efyt-accent-color-alpha-60: rgba(148, 0, 211, .60);
  --efyt-accent-color-alpha-70: rgba(148, 0, 211, .70);
  --efyt-accent-color-alpha-80: rgba(148, 0, 211, .80);
  --efyt-accent-color-alpha-90: rgba(148, 0, 211, .90);
  --efyt-accent-color-dark-10: #8500be;
  --efyt-accent-color-dark-20: #7600a9;
  --efyt-accent-color-dark-30: #680094;
  --efyt-accent-color-dark-40: #59007f;
  --efyt-accent-color-dark-50: #4a006a;
  --efyt-accent-color-dark-60: #3b0054;
  --efyt-accent-color-dark-70: #2c003f;
  --efyt-accent-color-dark-80: #1e002a;
  --efyt-accent-color-dark-90: #0f0015;
  --efyt-text-primary: #fff;
  --efyt-text-primary-inverse: #000;
}