/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --efyt-accent-color: #7fff00;
  --efyt-accent-color-alpha-10: rgba(127, 255, 0, .10);
  --efyt-accent-color-alpha-20: rgba(127, 255, 0, .20);
  --efyt-accent-color-alpha-30: rgba(127, 255, 0, .30);
  --efyt-accent-color-alpha-40: rgba(127, 255, 0, .40);
  --efyt-accent-color-alpha-50: rgba(127, 255, 0, .50);
  --efyt-accent-color-alpha-60: rgba(127, 255, 0, .60);
  --efyt-accent-color-alpha-70: rgba(127, 255, 0, .70);
  --efyt-accent-color-alpha-80: rgba(127, 255, 0, .80);
  --efyt-accent-color-alpha-90: rgba(127, 255, 0, .90);
  --efyt-accent-color-dark-10: #72e600;
  --efyt-accent-color-dark-20: #66cc00;
  --efyt-accent-color-dark-30: #59b300;
  --efyt-accent-color-dark-40: #4c9900;
  --efyt-accent-color-dark-50: #408000;
  --efyt-accent-color-dark-60: #336600;
  --efyt-accent-color-dark-70: #264c00;
  --efyt-accent-color-dark-80: #193300;
  --efyt-accent-color-dark-90: #0d1900;
  --efyt-text-primary: #fff;
  --efyt-text-primary-inverse: #000;
}