/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --efyt-accent-color: #800080;
  --efyt-accent-color-alpha-10: rgba(128, 0, 128, .10);
  --efyt-accent-color-alpha-20: rgba(128, 0, 128, .20);
  --efyt-accent-color-alpha-30: rgba(128, 0, 128, .30);
  --efyt-accent-color-alpha-40: rgba(128, 0, 128, .40);
  --efyt-accent-color-alpha-50: rgba(128, 0, 128, .50);
  --efyt-accent-color-alpha-60: rgba(128, 0, 128, .60);
  --efyt-accent-color-alpha-70: rgba(128, 0, 128, .70);
  --efyt-accent-color-alpha-80: rgba(128, 0, 128, .80);
  --efyt-accent-color-alpha-90: rgba(128, 0, 128, .90);
  --efyt-accent-color-dark-10: #730073;
  --efyt-accent-color-dark-20: #660066;
  --efyt-accent-color-dark-30: #5a005a;
  --efyt-accent-color-dark-40: #4d004d;
  --efyt-accent-color-dark-50: #400040;
  --efyt-accent-color-dark-60: #330033;
  --efyt-accent-color-dark-70: #260026;
  --efyt-accent-color-dark-80: #1a001a;
  --efyt-accent-color-dark-90: #0d000d;
  --efyt-text-primary: #fff;
  --efyt-text-primary-inverse: #000;
}