/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --efyt-accent-color: #adff2f;
  --efyt-accent-color-alpha-10: rgba(173, 255, 47, .10);
  --efyt-accent-color-alpha-20: rgba(173, 255, 47, .20);
  --efyt-accent-color-alpha-30: rgba(173, 255, 47, .30);
  --efyt-accent-color-alpha-40: rgba(173, 255, 47, .40);
  --efyt-accent-color-alpha-50: rgba(173, 255, 47, .50);
  --efyt-accent-color-alpha-60: rgba(173, 255, 47, .60);
  --efyt-accent-color-alpha-70: rgba(173, 255, 47, .70);
  --efyt-accent-color-alpha-80: rgba(173, 255, 47, .80);
  --efyt-accent-color-alpha-90: rgba(173, 255, 47, .90);
  --efyt-accent-color-dark-10: #9ce62a;
  --efyt-accent-color-dark-20: #8acc26;
  --efyt-accent-color-dark-30: #79b321;
  --efyt-accent-color-dark-40: #68991c;
  --efyt-accent-color-dark-50: #578018;
  --efyt-accent-color-dark-60: #456613;
  --efyt-accent-color-dark-70: #344c0e;
  --efyt-accent-color-dark-80: #233309;
  --efyt-accent-color-dark-90: #111905;
  --efyt-text-primary: #fff;
  --efyt-text-primary-inverse: #000;
}