/*
##
##  Enhancer for YouTube™
##  =====================
##
##  Author: Max RF <https://www.mrfdev.com>
##
##  This file is protected by copyright laws and international copyright
##  treaties, as well as other intellectual property laws and treaties.
##
##  All rights not expressly granted to you are retained by the author.
##  Read the license.txt file for more details.
##
##  © MRFDEV.com - All Rights Reserved
##
*/
:root {
  --primary-color: #d40000;
  --box-shadow-color: #000;
  --border-radius: 1rem;

  color-scheme: light;
  --text-color: #000;
  --nav-text-color: #252525;
  --nav-text-color-hover: #000;
  --primary-background-color: #eee;
  --secondary-background-color: #fff;
  --button-background-color: #fff;
  --button-hover-background-color: #f2f2f2;
  --button-border-color: #7b7b7b;
  --button-hover-border-color: #4d4d4d;
  --button-outline-color: #000;
  --button-shadow-color: rgba(176, 176, 176, 0.2);
  --main-border-color: #ccc;
  --main-background-color: #fff;
  --table-border-color: #ccc;
  --td-background-color: #ececec;
  --td-key-color: #595959;
  --modal-content-background-color: #fff;
  --modal-content-border-color: #ccc;
  --modal-header-close-modal-svg-fill-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --text-color: #e8eaed;
    --nav-text-color: #e8eaed;
    --nav-text-color-hover: #fff;
    --primary-background-color: #292a2d;
    --secondary-background-color: #202124;
    --button-background-color: #3b3b3b;
    --button-hover-background-color: #3b3b3b;
    --button-border-color: #767676;
    --button-hover-border-color: #fff;
    --button-outline-color: #fff;
    --button-shadow-color: rgba(0, 0, 0, 0.5);
    --main-border-color: #141414;
    --main-background-color: #292a2d;
    --table-border-color: #141414;
    --td-background-color: #3b3b3b;
    --td-key-color: #b6b6b6;
    --modal-content-background-color: #292a2d;
    --modal-content-border-color: rgba(255, 255, 255, .25);
    --modal-header-close-modal-svg-fill-color: #ccc;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Segoe UI", "San Francisco", Ubuntu, "Open Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: var(--primary-background-color);
  color: var(--text-color);
  position: relative;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  min-width: 53rem;
  max-width: 90rem;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  box-shadow: var(--box-shadow-color) 0 .25rem .5rem -.25rem;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1rem;
  margin: 1rem;
  border-radius: var(--border-radius);
  width: 100%;
}

nav div {
  display: inline-flex;
  align-items: center;
}

nav div:has(.extension-icon) {
  flex-grow: 1;
}

nav div:not(:last-of-type) {
  margin-right: 1rem;
}

.extension-icon {
  height: 2rem;
  width: 2rem;
  margin-right: .5rem;
}

nav .extension-name {
  color: var(--nav-text-color);
  font-weight: bold;
}

@keyframes nav-icon-rotate {
  100% {
    transform: rotate(360deg);
  }
}

nav .rate svg {
  animation-name: nav-icon-rotate;
  animation-delay: 500ms;
  animation-duration: 800ms;
  animation-iteration-count: 1;
}

nav svg {
  fill: var(--primary-color);
  height: 1.5rem;
  width: 1.5rem;
  transition-duration: 800ms;
  transition-property: transform;
}

nav div.focus svg,
nav div:hover svg {
  transform: rotate(360deg);
}

svg {
  margin-right: .125rem;
}

nav a {
  color: var(--nav-text-color);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: var(--nav-text-color-hover);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  height: calc(100vh - 7rem);
  padding: 1rem;
}

main {
  box-shadow: var(--box-shadow-color) 0 .25rem .5rem -.25rem;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  overflow-y: auto;
  scrollbar-width: none;
}

main::before {
  content: "";
  position: absolute;
  top: var(--main-inset-shadow-top);
  left: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: inset var(--box-shadow-color) 0 .25rem 0.4rem -0.3rem;
  height: 1rem;
  width: var(--main-inset-shadow-width);
  z-index: 5;
}

h3 {
  margin: 0;
}

a {
  color: var(--primary-color);
  font-weight: 500;
}

a:link,
a:visited {
  text-decoration: none;
}

main a:hover,
main a:active {
  text-decoration: underline;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 1rem;
}

h3 svg {
  fill: var(--text-color);
  height: 1.5em;
  width: 1.5em;
  transform: translateY(25%);
}

a svg,
.email svg {
  fill: currentColor;
  height: 1rem;
  width: 1rem;
  transform: translateY(25%);
}

.email {
  font-weight: 500;
}

.responsive-table {
  overflow-x: auto;
}

table {
  border: .0625rem solid var(--table-border-color);
  border-collapse: collapse;
  table-layout: fixed;
}

thead tr,
tr:not(:last-of-type) {
  border-bottom: .0625rem solid var(--table-border-color);
}

tr.group td {
  background-color: var(--td-background-color);
  text-align: center;
}

tr.subgroup td {
  font-size: .9rem;
  text-align: center;
  padding: .5rem;
}

td.key {
  color: var(--td-key-color);
  font-style: italic;
}

tr:hover td[contenteditable] {
  background-color: var(--td-background-color);
}

th,
td {
  padding: 1rem;
  text-align: left;
  vertical-align: top;
}

th:first-of-type,
td:first-of-type {
  width: 20%;
  overflow-wrap: break-word;
}

th:not(:first-of-type),
td:not(:first-of-type) {
  width: 40%;
}

td[dir="rtl"] {
  text-align: right;
}

select#locale {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 1rem;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

#generate-code-btn {
  float: right;
}

#generate-code-btn:disabled {
  cursor: not-allowed;
}

@keyframes checkmark-stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes checkmark-fill {
  100% {
    box-shadow: inset 0 0 0 1.875rem var(--primary-color);
  }
}

@keyframes checkmark-scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

.checkmark {
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--primary-color);
  height: 2rem;
  margin: 0 .8rem;
  stroke-miterlimit: 10;
  stroke-width: 4;
  stroke: #fff;
  visibility: hidden;
  width: 2rem;
}

.checkmark.show {
  visibility: visible;
  animation: checkmark-fill .4s ease-in-out .4s forwards, checkmark-scale .3s ease-in-out .9s both;
}

.checkmark.show .checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: var(--primary-color);
  fill: none;
  animation: checkmark-stroke .5s cubic-bezier(.65, 0, .45, 1) forwards;
}

.checkmark.show .checkmark-check {
  transform-origin: 50% 50%;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: checkmark-stroke .3s cubic-bezier(.65, 0, .45, 1) .8s forwards;
}

.overflow-hidden {
  overflow: hidden;
}

.modal {
  bottom: 0;
  display: none;
  outline: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility .3s ease-in-out;
  visibility: hidden;
  width: fit-content;
  z-index: 100;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  transition-property: visibility;
  transition-duration: 0s;
  visibility: visible;
}

.modal-dialog {
  transform: translate(0, -25%);
  transition: transform .3s ease-out;
  margin-top: 1.154rem;
  position: relative;
  width: auto;
}

.modal-open .modal-dialog {
  transform: translate(0, 0);
}

.modal-content {
  background-clip: padding-box;
  background-color: var(--modal-content-background-color);
  border-radius: 1rem;
  border: .077rem solid var(--modal-content-border-color);
  box-shadow: 0 .231rem .692rem rgba(0, 0, 0, .5);
  outline: 0;
  position: relative;
}

.modal-header {
  border-bottom: .077rem solid var(--modal-content-border-color);
  padding: 1.154rem;
}

.modal-header .close-modal {
  background: transparent;
  border: 0;
  opacity: .7;
  text-decoration: none;
  padding: 0;
}

.modal-header .close-modal {
  float: right;
}

.modal-header .close-modal:hover,
.modal-header .close-modal:focus {
  opacity: 1;
}

.modal-header .close-modal svg {
  fill: var(--modal-header-close-modal-svg-fill-color);
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
}

.modal-title {
  margin: 0;
}

#i18n-modal .modal-title::before {
  content: "";
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 16' fill='rgb(0 0 0)'><path d='M 20,0 H 0 V 16 H 20 Z M 18,4 10,8.9999999 2,4 V 2 L 10,6.9999999 18,2 Z'/></svg>") no-repeat;
  display: inline-block;
  margin-right: .5rem;
  height: 1rem;
  width: 1.25rem;
  opacity: .7;
}

@media (prefers-color-scheme: dark) {
  #i18n-modal .modal-title::before {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 16' fill='rgb(232 234 237)'><path d='M 20,0 H 0 V 16 H 20 Z M 18,4 10,8.9999999 2,4 V 2 L 10,6.9999999 18,2 Z'/></svg>") no-repeat;
  }
}

.modal-body {
  background-color: var(--primary-background-color);
  padding: 1.154rem;
}

.modal-footer {
  border-top: .077rem solid var(--modal-content-border-color);
  padding: 1.154rem;
  text-align: right;
}

#modal-backdrop {
  background-color: #000;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .3s ease-in-out;
  width: 100%;
  z-index: 99;
}

#modal-backdrop.fade {
  opacity: 0;
}

#modal-backdrop.in {
  opacity: .5;
}

.modal textarea {
  height: 20vh;
  width: 100%;
}

button {
  background-color: var(--button-background-color);
  border: .0625rem solid var(--button-border-color);
  border-radius: 1rem;
  box-shadow: var(--button-shadow-color) 0 .125rem .3125rem 0;
  line-height: 2rem;
  padding: 0 .625rem 0 .6875rem;
}

button:hover {
  background-color: var(--button-hover-background-color);
  border-color: var(--button-hover-border-color);
}

button:focus,
button:focus-visible {
  border-color: var(--button-outline-color);
  outline: .0625rem solid var(--button-outline-color);
}

button.close-modal {
  line-height: 0;
}